.rtd-block{
  border-style: solid;
  border-width: 1px;
  color: black;
  background-color: #E3e7e8;
  width: 350px;
  margin: auto;
  padding: 10px;
}

.rtd-header{
  background-color: #6d6d6d;
  color: white;
  margin: auto;
  text-align: center;
}

.color-box{
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: YELLOW;
}

.destination-abbr{
  padding-right: 10px;
}

.platform-list {
  list-style-type: none;
}

.button-holder{
  text-align: center;
}


.durations-block{

}
